/* Reset de estilos */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

nav ul {
    list-style: none;
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section.contenido {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
