body {
    background-color: #000;
    color: #fff;
  }
  
  header {
    background-color: #fff;
    color: #000;
  }
  
  nav {
    background-color: #ccc;
    color: #000;
  }
  
  main {
    background-color: #fff;
    color: #000;
  }
  
  footer {
    background-color: #000;
    color: #fff;
  }
  
  .inicio h1 {
    color: #ccc;
  }
  
  .quienessomos h2 {
    color: #ccc;
  }
  
  .menu h3 {
    color: #ccc;
  }
  
  .menu ul li {
    color: #ccc;
  }
  